[submodule "lib/NintendoSDK"]
	path = lib/NintendoSDK
	url = https://github.com/open-ead/nnheaders
[submodule "lib/agl"]
	path = lib/agl
	url = https://github.com/open-ead/agl
[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/open-ead/sead
[submodule "tools/common"]
	path = tools/common
	url = https://github.com/open-ead/nx-decomp-tools
[submodule "toolchains/nx-decomp-tools-binaries"]
	path = toolchains/nx-decomp-tools-binaries
	url = https://github.com/open-ead/nx-decomp-tools-binaries
[submodule "toolchains/musl"]
	path = toolchains/musl
	url = https://github.com/open-ead/botw-lib-musl
